<?xml version="1.0"?>

<model>
  <name>Dummy model</name>
  <version>1.0</version>
  <sdf version='1.6'>dummy_model.sdf</sdf>

  <author>
    <name>Marcus Hoerger</name>
    <email>hoergems@gmail.com</email>
  </author>

  <description>
    This is just a dummy model, containing nothing
  </description>
</model>
